{% extends 'layout.html' %}

{% block content %}
    <div class="right">
        <div class="info">
            <div class="user-info">
                <div class="stuId">学号</div>
                <div class="name">name</div>
                <div class="uinfo">个人简介哩</div>
            </div>
            <div class="user-info">
                <div class="stuId">学号</div>
                <div class="name">name</div>
                <div class="uinfo">个人简介哩</div>
            </div>
            <div class="user-info">
                <div class="stuId">学号</div>
                <div class="name">name</div>
                <div class="uinfo">个人简介哩</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}